#highscoresInnerContent {
  width: 300px;
  display: flex;
  flex-flow: column nowrap;
  padding: 30px;
  margin-top: 50px;
  margin-left: calc((100% - 50%) - 300px / 2);
}

#scoreResults, #scorePgLinks {
  margin-top: 35px;
}

#highScores {
  font-size: 25px;
}

#goBackBtn {
  margin-right: 10px;
}

#goBackBtn:hover {
  text-decoration: none;
}

.users {
  list-style-type: none;
  padding: 5px;
}

.users:nth-child(odd) {
  background-color: rgb(236, 215, 236);
}
